/** {
		border: 1px solid green;
}
*/
html, body, #map-canvas {
  height: 800px;
  width: 100%;
  padding: 5px;
  margin: 5px;
}

#no-data-map p {
  border: 5px solid gray;
  color: gray;
  font-size: 2.0em;
  height: 600px;
  padding: 20% 40px 40% 40px;
  text-align: center;
}

#content-header {
	background-color: darkGray;
	color: white;
	margin-bottom: 10px;
}

#legend {
  background: white;
  padding: 10px;
}

#location-field {
  overflow: hidden;
  margin: 5px;
  padding: 2px;
}

#autocomplete {
	color: darkGray;
	width: 100%;
}

#title {
  font-weight: bold;
  font-size: 1.2em;
}

#city-select {
  color: black;
}

#filtered-results {
  list-style: none;
}

.zebra-hover {
  background-color: #ffb523;
  font-weight: bold;
  color: white;
}

.iyn-button {
  background-color: white;
}

/*Info Box Styling - for the infobox on map markers*/

.infobox {
  font-weight: lighter;
  color: #00008b;
}

.infotitle {
  font-weight: bold;
  color: #483d8b;
}

.infobody {
  padding: 2px;
}

.infourl {
  color: #4169e1;
  text-decoration: none;
}

.infourl:hover {
  color: #663399;
  font-weight: bold;
}

.infoimage {
  height: 50px;
  width: 50px;
  float: left;
  padding: 2px;
}

/* end of Info Box */