/** {
		border: 1px solid green;
}
*/
html, body, #map-canvas {
  height: 800px;
  width: 100%;
  padding-bottom: 5%;
}

#content-header {
	background-color: darkGray;
	color: white;
	margin-bottom: 10px;
}

#legend {
  background: white;
  padding: 10px;
}

#locationField {
  overflow: hidden;
  margin: 5px;
  padding: 2px;
}

#autocomplete {
	color: darkGray;
	width: 100%;
}
