/** {
		border: 1px solid green;
}
*/
html, body, #map-canvas {
  height: 800px;
  width: 100%;
  padding-bottom: 5%;
}

#content-header {
	background-color: darkGray;
	color: white;
	margin-bottom: 10px;
}

#legend {
  background: white;
  padding: 10px;
}

#locationField {
  overflow: hidden;
  margin: 5px;
  padding: 2px;
}

#autocomplete {
	color: darkGray;
	width: 100%;
}

#title {
  font-weight: bold;
  font-size: 14pt;
}

#city-select {
  color: black;
}

.iyn-button {
  background-color: white;
}

/*Info Box Styling - for the infobox on map markers*/

.infobox {
  font-weight: lighter;
  color: #00008B;
}

.infotitle {
  font-weight: bold;
  color: #483D8B;
}

.infobody {
  padding: 2px;
}

.infourl {
  color: #4169E1;
  text-decoration: none;
}

.infourl:hover {
  color: #663399;
  font-weight: bold;
}

.infoimage {
  height: 50px;
  width: 50px;
  float: left;
  padding: 2px;
}

/* end of Info Box */